**Programming Assignment 02**

**1.	Write a Python program to convert kilometers to miles?**

In [ ]:
def converter(km):

  miles = km / 1.6093
  return miles

km = float(input("Enter distance in kilometers: "))
miles = converter(km)
print("Distance in miles are: ", miles)

Enter distance in kilometers: 5.6
Distance in miles are:  3.4797738147020443

**2.	Write a Python program to convert Celsius to Fahrenheit?**

In [ ]:
def converter(cel):
  f = (cel *(9/5)) + 32
  return f
cel = float(input("Enter temperature in celsius: "))
fah = converter(cel)
print("Temperature from {} Celsius to {} Fahnrenheit ".format(cel, fah))

Enter temperature in celsius: 6
Temperature from 6.0 Celsius to 42.8 Fahnrenheit

**3.	Write a Python program to display calendar?**

In [37]:
import calendar
yy = int(input("Enter year in yyyy format: "))
print(calendar.calendar(yy))

Enter year in yyyy format: 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

**4.	Write a Python program to solve quadratic equation?**

In [47]:
import math
print(" Enter values of a, b,c in quadratic equation: ")
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))
c = int(input("Enter value of c: "))
def roots(a,b,c):
  root1 = ((-b) + math.sqrt(b*b - (4* a * c))) / (2 * a)
  root2 = ((-b) - math.sqrt(b*b - (4* a * c))) / (2 * a)
  return root1, root2

root1, root2 = roots(a,b,c)
print("Roots of the Quadratic Equation are: ",root1, root2)

 Enter values of a, b,c in quadratic equation:
Enter value of a: 1
Enter value of b: -3
Enter value of c: -4
Roots of the Quadratic Equation are:  4.0 -1.0

**5.	Write a Python program to swap two variables without temp variable?**

In [55]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print("Before swap: ",a,b)

a = a * b
b = a / b
a = a / b
print("After swap: ", a,b)

Enter first number: 20
Enter second number: 4
Before swap:  20.0 4.0
After swap:  4.0 20.0